username: admin
password: admin
port: 6030
timeout: 10s
insecure: true
encoding: json_ietf
# debug: true

targets:
  spine1:
    address: spine1:6030
    insecure: true
  spine2:
    address: spine2:6030
    insecure: true
  leaf1:
    address: leaf1:6030
    insecure: true
  leaf2:
    address: leaf2:6030
    insecure: true
  leaf3:
    address: leaf3:6030
    insecure: true
  leaf4:
    address: leaf4:6030
    insecure: true

subscriptions:
  bgp_neighbors:
    paths:
      - /network-instances/network-instance[name=default]/protocols/protocol[name=BGP]/bgp/neighbors
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  cpu:
    paths:
      - /components/component[name=*]/cpu
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  cpu_load_avg:
    paths:
      - eos_native:/Kernel/sysinfo
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  mem:
    paths:
      - /components/component[name=*]/state/memory
      - /system/memory/kernel/state
      - /system/memory/state
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  sw_info:
    paths:
      - /components/component[name=*]/state/software-version
      - /components/component[name=*]/state/serial-no
    mode: stream
    stream-mode: sample
    sample-interval: 60s

  intf_ctrs:
    paths:
      - /interfaces/interface[name=*]/state/counters
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  intf_admin_state:
    paths:
      - /interfaces/interface[name=*]/state/admin-status
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  intf_oper_state:
    paths:
      - /interfaces/interface[name=*]/state/oper-status
    mode: stream
    stream-mode: sample
    sample-interval: 5s

  intf_state:
    paths:
      - /interfaces/interface[name=*]/state
    mode: stream
    stream-mode: sample
    sample-interval: 30s

  intf_config:
    paths:
      - /interfaces/interface[name=*]/subinterfaces/subinterface[index=*]/ipv4/addresses/address[ip=*]/config
    mode: stream
    stream-mode: sample
    sample-interval: 30s

  lldp_neighbors:
    paths:
      - /lldp/interfaces/interface[name=*]/neighbors/neighbor/state
    mode: stream
    stream-mode: sample
    sample-interval: 30s

  lldp_counters:
    paths:
      - /lldp/interfaces/interface[name=*]/state/counters
    mode: stream
    stream-mode: sample
    sample-interval: 30s

  show_ver:
    paths:
      - eos_native:/Eos/image
    mode: stream
    stream-mode: sample
    sample-interval: 60s

  boot_time:
    paths:
      - /system/state/boot-time
    mode: stream
    stream-mode: sample
    sample-interval: 60s

  chassis_eos:
    paths:
      - /components/component[name=Chassis]/state
      - /components/component[name=EOS]/state
    mode: stream
    stream-mode: sample
    sample-interval: 60s

  hardware_oc:
    paths:
      - /components/component[name=*]/state
    mode: stream
    stream-mode: sample
    sample-interval: 60s

  hardware_native:
    paths:
      - eos_native:/Sysdb/hardware/entmib
    mode: stream
    stream-mode: sample
    sample-interval: 60s

outputs:
  prom-output:
    type: prometheus
    listen: "0.0.0.0:9804"
    metric-prefix: gnmic
    append-subscription-name: true
    strings-as-labels: true
    export-timestamps: true
    debug: false
    event-processors:
      - trim-prefixes
      - bounce-map
      - eos-version
      # - tag-status
      # - set-timestamp-processor

processors:
  eos-version:
    event-strings:
      value-names:
        - ".*version$"
        - ".*arch$"
      transforms:
        - replace:
            apply-on: "value"
            old: "EOS"
            new: "eos"

  trim-prefixes:
    event-strings:
      value-names:
        - ".*"
      transforms:
        - path-base:
            apply-on: "name"

  bounce-map:
    event-strings:
      value-names:
        - oper-status
        - admin-status
      transforms:
        - replace:
            apply-on: "value"
            old: "UP"
            new: "1"
        - replace:
            apply-on: "value"
            old: "DOWN"
            new: "0"
